html, body {
  background-color: rgb(124, 124, 124);
  overflow: hidden;
}

path.rsm-geography {
  fill: rgb(54, 54, 54);
  stroke: rgb(180, 180, 180);
  stroke-width: 0.2px;
  outline: none;
}

path.rsm-geography:hover {
  fill: rgb(82, 82, 82);
}

.menu {
  left: 0px;
  top: 0px;
  height: 100%;
  width: 250px;
  z-index: 1;
  overflow-x: hidden;
  padding: 20px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(71, 71, 71);
}

.menu h1 {
  text-align: center;
}

.map {
  margin-left: 250px;
}

p {
  margin: 0;
  text-align: center;
  font-size: 90%;
}

.countryName {
  font-weight: bold;
  font-size: 130%;
}